<!DOCTYPE html>
<head>
    <title>Vizathon 2021 Graphs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

{% include 'base.html' %}
{% block content %}{% endblock %}

<body>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>


</body>
</html>

